*.pyc
*.swp
*.tmp
.DS_Store
.idea
.idea_modules
.tags
target
tmp/*
vim-markdown-preview.html
vim/.netrwhist
vim/autoload/plug.vim.old
vim/init.vim
vim/plugged
vim/undodir/*
#vim/vim ends up being a circular dependency
vim/vim
